
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: orange;
  display: flex;
  flex-direction: row;
}
header h2 {
  margin: 0;
  margin-right: 1rem;
}
header .space {
  width: 1rem;
  height: 1rem;
}
header input[type="number"] {
  width: 3rem;
}

#panels {
  flex: 1;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
#panels > div {
  padding: .6rem .8rem;
}

#stack {
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: column-reverse;
}
#stack h4 {
  margin: 0;
  margin-top: .5rem;
  padding-top: .3rem;
  border-top: 1px solid rgba(0, 0, 0, .4);
}
#stack .value {
  background-color: yellow;
  border: 1px solid black;
  padding: .4rem .6rem;
  margin-top: .4rem;
}

#code {
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
#code h4 {
  margin: 0;
  margin-bottom: .7rem;
}
#code .instruction {
  padding: .1rem .2rem;
  font-family: monospace;
}
#code .instruction.current {
  background-color: rgb(40, 221, 79);
}

#editor {
  padding: 0 !important;
  flex: 3;
  display: flex;
  flex-direction: column;
}
#editor textarea {
  flex: 1;
}
#output {
  flex: 1;
  margin: 0;
  padding: .2rem .3rem;
  background-color: rgb(211, 211, 211);
  overflow-y: scroll;
}